<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <nav>
      <a routerLink="/channels">channels</a>
      <a routerLink="/chart">chart</a>
    </nav>
    <router-outlet></router-outlet>
    <app-messages></app-messages>

    <!--<app-channel-detail [channel]='{-->
    <!--id: "UC_yP2DpIgs5Y1uWC0T03Chw",-->
    <!--title: "Joueur Du Grenier",-->
    <!--description: "Test de jeux à la con !",-->
    <!--url: "https://yt3.ggpht.com/-2eu-eG4PLa8/AAAAAAAAAAI/AAAAAAAAAAA/FZUzswUhAmI/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"-->
    <!--}'></app-channel-detail>-->
  </h1>
</div>
